.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(167, 253, 233, 1);
}
.desktop1-rectangle1 {
  top: 864px;
  left: 899px;
  width: 10px;
  height: 5px;
  position: absolute;
}
.desktop1-text {
  top: 139px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 128px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text02 {
  top: 267px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 1385px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle2 {
  top: 46px;
  left: 29px;
  width: 7px;
  height: 2px;
  position: absolute;
}
.desktop1-image1 {
  top: 404px;
  left: 867px;
  width: 520px;
  height: 358px;
  position: absolute;
}
.desktop1-text08 {
  top: 457px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 504px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
